<!DOCTYPE html>
<!--导入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成功</title>
</head>
<body>
    <h1>请求成功!</h1>
<!--    th:text将div中文本内容设置为我们所指定的值-->
    <div th:text="${hello}">hello 在接口中调用的值是</div>
<!--可以修改指定属性的默认值
    此处div 的Id和Class均被请求到的值替换掉
    -->
    <div id="div1" class="myDiv" th:id="${id}" th:class="${class}"></div>

    <hr/>


<!--表达式-->
    <!--文本转义-->
    <div th:text="${hello}">转义:转成字符串</div>
    <div th:utext="${hello}">不转义：保留原意</div>
    <hr/>
    <!--th:each每次遍历都会生成当前这个标签：3个h4-->
    <h4 th:text="${user}" th:each="user:${users}"></h4>
    <hr/>
    <h4>
        <span th:each="user:${users}">[[${user}]]</span>
    </h4>


</body>
</html>